HTML, BODY {
  width: 100%;
  height: 100%;
  margin: 0; }

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-filter: grayscale(80%) blur(2px);
  filter: grayscale(80%) blur(2px);
  animation: bg-art 20s infinite linear; }

/* jump across interesting art */
@-webkit-keyframes bg-art {
  0% {
    background-image: url("../image/home/background-rotation/new_york_ruins_by_jonasdero-d35covg.jpg");
    -webkit-filter: grayscale(50%); }
  33% {
    background-image: url("../image/home/background-rotation/forest_by_jungpark-d3jridt.jpg");
    -webkit-filter: grayscale(80%); }
  66% {
    background-image: url("../image/home/background-rotation/iroshi_by_jonasdero-d3bt1s1.jpg");
    -webkit-filter: grayscale(20%); }
  100% {
    background-image: url("../image/home/background-rotation/iroshi_by_jonasdero-d3bt1s1.jpg");
    -webkit-filter: grayscale(10%); } }

@keyframes bg-art {
  0% {
    background-image: url("../image/home/background-rotation/new_york_ruins_by_jonasdero-d35covg.jpg");
    filter: grayscale(50%); }
  33% {
    background-image: url("../image/home/background-rotation/forest_by_jungpark-d3jridt.jpg");
    filter: grayscale(80%); }
  66% {
    background-image: url("../image/home/background-rotation/iroshi_by_jonasdero-d3bt1s1.jpg");
    filter: grayscale(20%); }
  100% {
    background-image: url("../image/home/background-rotation/iroshi_by_jonasdero-d3bt1s1.jpg");
    filter: grayscale(10%); } }

#container {
  position: absolute;
  mix-blend-mode: hard-light;
  animation: container-anim 10s infinite linear;
  -webkit-filter: grayscale(60%) blur(2px) hue-rotate(150deg);
  filter: grayscale(60%) blur(2px) hue-rotate(150deg); }

/* post apocalyptic art transitions */
@-webkit-keyframes container-anim {
  0% {
    -webkit-filter: grayscale(10%) blur(4px) hue-rotate(180deg); }
  33% {
    -webkit-filter: grayscale(10%) blur(4px) hue-rotate(10deg); }
  100% {
    -webkit-filter: grayscale(10%) blur(4px) hue-rotate(160deg); } }

@keyframes container-anim {
  0% {
    filter: grayscale(10%) blur(4px) hue-rotate(180deg); }
  33% {
    filter: grayscale(10%) blur(4px) hue-rotate(10deg); }
  100% {
    filter: grayscale(10%) blur(4px) hue-rotate(160deg); } }

#introduction {
  transition: background-color 5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*mix-blend-mode: luminosity;*/ }

#introduction.transition-display {
  transition: background-color 5s ease;
  background-color: rgba(0, 0, 0, 0.2); }

TEXT {
  paint-order: stroke; }

.text--line {
  font-size: 10rem; }

.text--line2 {
  font-size: 6rem; }

.text--line3 {
  font-size: 4rem;
  font-style: italic; }

SVG {
  position: absolute;
  width: inherit;
  height: inherit; }

.text-copy {
  /*ref fill: url(#mattGradient1);*/
  stroke: #fff;
  stroke-dasharray: 17% 28%;
  xstroke-width: 13px;
  stroke-width: 2.5rem;
  stroke-opacity: 1;
  -webkit-animation: stroke-offset 80s infinite linear;
  animation: stroke-offset 80s infinite linear; }

.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-opacity: 0.5;
  stroke-dashoffset: 7%; }

.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-opacity: 0.5;
  stroke-dashoffset: 14%; }

.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-opacity: 0.5;
  stroke-dashoffset: 21%; }

.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-opacity: 0.5;
  stroke-dashoffset: 28%; }

.text-copy:nth-child(5) {
  /*stroke: #1B8798;*/
  /*stroke-opacity: 0.65;*/
  stroke: #004;
  stroke-opacity: 0.75;
  stroke-dashoffset: 85%; }

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%; } }

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%; } }
